.container {
    display: flex;
    justify-content: center;
    .newsListContainer {
        display: flex;
        justify-content: center;
        margin-top: 50px;
        width: 90%;
        flex-direction: column;
        .wrapperNewsList {
            display: grid;
            grid-template-columns: 1fr;
            justify-content: center;
            column-gap: 50px;
            row-gap: 35px;
        }
    }
}

.loaderContainer {
    height: 90vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media all and (min-width: 576px) {
    .container {
        .newsListContainer {
            .wrapperNewsList {
                grid-template-columns: 1fr 1fr;
            }
        }
    }
}

@media all and (min-width: 1200px) {

.container {
    .newsListContainer {
        .wrapperNewsList {
            grid-template-columns: 1fr 1fr 1fr;
        }
    }
}    
}